body {
  margin: 20px;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to left,
    rgb(61, 4, 4) 0%,
    rgb(170, 14, 14) 100%
  );
  text-align: center;
}

h1 {
  color:rgb(206, 195, 44);
  margin: 50px 0;
  font-size: 5em;
  font-family: 'Shadows Into Light', cursive;
}

input {
  background-color: beige;
  border-radius: 10px;
}

.searchBox {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 150px;
  line-height: 30px;
  margin-bottom: 30px;   
}